@tailwind base;
@tailwind components;
@tailwind utilities;

.copied {
  animation: copied forwards 1s ease;
}

@keyframes copied {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
